Websites/RestWCFServiceExample/ClientForRestWCFService/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Basic" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeptNo" type="xs:short" />
      <xs:element minOccurs="0" name="EmpNo" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>